.auth{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 50px;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    position: relative;
    max-width: 510px !important;
}